.heading {
  margin-bottom: 20px;
  font-family: 'Gotham book', sans-serif;
  text-align: center;
}

.container {
  display: block;
  margin-top: 0px;
}

.block-quote {
  font-family: Butler, sans-serif;
  font-size: 56px;
  font-weight: 400;
}

.column {
  height: auto;
}

.div-block {
  overflow: visible;
  height: 45%;
}

.container-2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.columns {
  margin-top: 10px;
}

.container-3 {
  overflow: visible;
  margin-top: 20px;
}

.text-block {
  margin-top: 40px;
  font-family: Helveticaneuebd, sans-serif;
  color: #000;
  font-size: 38px;
  line-height: 50px;
  font-weight: 400;
}

.text-block-2 {
  font-family: Butler, sans-serif;
  font-size: 56px;
}

.text-block-3 {
  margin-top: 60px;
  margin-right: -10px;
  font-family: Helveticaneuemed, sans-serif;
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
}

.columns-2 {
  margin-top: 40px;
}

.text-field {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 5px;
  border-style: none none solid;
  border-width: 1px 1px 1.5px;
  border-color: #000 #000 #000;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  cursor: text;
}

.column-2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.button {
  width: 80%;
  height: 32.5px;
  margin-top: 45px;
  margin-left: 40px;
  border: 1px none #000;
  border-radius: 0px;
  background-color: #000;
  box-shadow: 1px 1px 1px 0.5px #ccc;
  font-family: Helveticaneue, sans-serif;
  font-size: 16px;
  line-height: 15px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.25px;
}

.image {
  position: absolute;
  top: -102px;
  bottom: 0px;
  display: block;
  width: 980px;
  max-width: 500%;
  float: none;
  clear: none;
}

.body {
  overflow: hidden;
}

.image-2 {
  position: absolute;
  top: 19px;
  display: inline-block;
  width: 300px;
  border-radius: 20px;
}

.image-3 {
  display: block;
  max-width: 24%;
  margin-right: auto;
  margin-left: auto;
}

.image-4 {
  position: relative;
  left: 0px;
  top: 0px;
  width: 850px;
  max-width: 400%;
  margin-top: 0px;
}

.column-3 {
  margin-top: 60px;
}

.image-5 {
  width: 280%;
  max-width: 500%;
  min-width: 100%;
  margin-top: 20px;
}

input:focus {
  outline: none !important;
  border:1px solid black;
  box-shadow: 0 0 10px #719ECE;
}

@media (max-width: 991px) {
  .button {
    font-size: 100%;
  }
}

@media (max-width: 767px) {
  .columns {
    margin-top: 20px;
  }
  .image-4 {
    left: auto;
    top: -79px;
    margin-top: 75px;
  }
}

@media (max-width: 479px) {
  .image-4 {
    width: 200%;
  }
}

@font-face {
  font-family: 'Worksans';
  src: url('../fonts/WorkSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Worksans';
  src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Worksans';
  src: url('../fonts/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Worksans';
  src: url('../fonts/WorkSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Worksans';
  src: url('../fonts/WorkSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Worksans';
  src: url('../fonts/WorkSans-Bold.ttf') format('truetype'), url('../fonts/WorkSans-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Worksans';
  src: url('../fonts/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Worksans';
  src: url('../fonts/WorkSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-BlackCond.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica neu';
  src: url('../fonts/Helvetica-Neu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneuebd';
  src: url('../fonts/HelveticaNeueBd.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneuehv';
  src: url('../fonts/HelveticaNeueHv.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneuelt';
  src: url('../fonts/HelveticaNeueLt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneueit';
  src: url('../fonts/HelveticaNeueIt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneuemed';
  src: url('../fonts/HelveticaNeueMed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica 587ebe5a59211';
  src: url('../fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham book';
  src: url('../fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler_Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler_Bold.otf') format('opentype'), url('../fonts/Butler_ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Butler ultra';
  src: url('../fonts/Butler_Ultra_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica rounded 5871d05ead8de';
  src: url('../fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica compressed 5871d14b6903a';
  src: url('../fonts/helvetica-compressed-5871d14b6903a.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}